/DashboardSignalR/gentelella-master
/packages
/DashboardSignalR/obj
/DashboardSignalR/bin
/DashboardSignalR.Dominio/bin
/DashboardSignalR.Dominio/obj
/DashboardSignalR.Tests/bin
/DashboardSignalR.Tests/obj
